In [1]:
%reload_ext autoreload
%autoreload 2

import socket
import psutil
import sys 
import os
from typing import Any
from functools import partial
import json
from pprint import pprint
from collections import OrderedDict
from datetime import datetime
import os

# lib_path = ['/fsx_0/user/tranx/experiments']
import_paths = [
    # "/fsx_0/user/tranx/experiments",
    # "/fsx_0/user/tranx",
    # "/fsx_0/user/tranx/rsync",
    "/fsx_0/user/tranx/rsync/llm_mm_aligner/experiments/aws",
    # "/fsx_0/user/tranx/experiments/lib"
]
for path in import_paths:
    if path not in sys.path:
        sys.path.append(path)
        
from launch_evals import read_eval_results

import pandas as pd
pd.set_option('display.max_rows', 100)

# MM10.1 Prod

In [10]:
read_eval_results(
    watch_path="/fsx_0/checkpoints/mm10.1/MM10.1_Stage1_70B/MH22final_70B_ViTH_336px_R1_idl",
    steps=[17800],
    read_format="report_mmai"
)

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
17800,61.56,63.96,39.4,75.45,44.57,71.45,68.74,61.58,51.4,73.33

In [11]:
read_eval_results(
    watch_path="/fsx_0/checkpoints/mm10.1/MM10.1_Stage1_70B/MH22final_70B_ViTH_336px_R1_recap_64nodes_fix",
    steps=[15500],
    read_format="report_mmai"
)

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
15500,60.33,62.73,39.5,74.45,45.17,71.65,68.39,61.42,50.36,73.93

# MM10.1 - 8B

# MM10.1 - MoE

# MM9.1

In [3]:
read_eval_results(
    watch_path="/fsx_0/checkpoints/mm9/MM9-Stage2-70B/MH19_336px_128nodes_exp30",
    read_format="report_mmai"
)

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
8800,59.11,81.17,53.2,80.12,58.77,77.05,75.54,71.65,66.88,77.38

In [4]:
read_eval_results(
    watch_path="/fsx_0/checkpoints/mm9/MM9-Stage2-70B/MH19_336px_128nodes_exp30_3x3",
    read_format="report_mmai"
)

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
8800,58.11,74.97,53.8,79.34,57.59,76.71,74.8,65.69,56.44,77.83

# MM9.2

In [5]:
read_eval_results(
    watch_path="/fsx_0/checkpoints/mm9.2/MM9.2_Stage1_70B/LLama3.1_70B_ViTH_336px_R1_recap",
    steps=[17100],
    read_format="report_mmai"
)

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
17100,56.56,60.96,35.6,75.62,51.94,70.33,65.23,61.76,50.06,75.04

In [9]:
read_eval_results(
    watch_path="/fsx_0/checkpoints/mm9.2/MM9.2_Stage2_70B/Llama3.1_70B_ViTH_336px_exp28_plus_v2_20241111",
    # steps=[17100],
    read_format="report_mmai"
)

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
100,54.11,76.61,39.9,72.34,53.98,71.47,69.07,63.04,57.96,73.00
200,55.00,77.17,40.4,72.60,53.43,71.86,69.38,63.53,58.76,73.18
300,55.22,77.40,41.5,72.57,53.00,72.12,69.50,63.44,58.53,72.98
400,56.33,77.40,42.0,73.09,53.57,72.25,69.93,63.83,58.54,73.12
500,55.00,78.00,41.9,72.70,52.63,72.04,70.25,63.46,58.73,72.88
600,54.44,77.84,41.5,73.02,53.00,72.39,69.83,63.70,58.84,73.27
700,55.44,78.46,41.6,73.02,52.07,72.50,69.72,63.84,59.01,73.77
800,56.11,78.45,42.8,73.22,52.56,72.75,69.89,63.58,59.32,74.22
900,55.67,78.96,43.4,73.41,52.72,72.66,70.09,63.96,59.51,74.47
1000,54.56,78.74,42.3,73.35,52.38,72.66,69.71,63.92,58.89,74.45
1100,55.00,78.91,42.5,73.41,53.09,72.66,70.09,63.81,59.11,74.49
1200,55.22,78.88,42.4,73.77,53.51,72.72,69.69,63.66,59.39,74.23
1300,56.00,78.53,42.0,73.32,53.82,72.79,69.59,63.94,59.65,74.67
1400,55.11,78.65,43.0,73.64,53.13,72.89,70.05,63.78,59.91,74.32

In [2]:
df = read_eval_results(
    # watch_path="/fsx_0/checkpoints/mm9.2/MM9.2_Stage2_70B/Llama3.1_70B_ViTH_336px_exp28_plus_v2_20241111_64nodes",
    watch_path="/fsx_0/checkpoints/mm9.2/MM9.2_Stage2_70B/Llama3.1_70B_ViTH_336px_exp28_plus_v4_20241116_64nodes",
    # steps=[17100],
    read_format="report_mmai"
)

In [3]:
df

,mmmu,docvqa,mathvista,ai2d,chartqa,vqa,textvqa,infographics_w_ocr,infographics,mmbench
19000,NaN,80.26,44.6,74.51,54.37,73.73,70.61,64.93,60.89,75.09
19100,NaN,80.28,44.9,NaN,54.09,73.78,70.99,NaN,60.51,NaN
19400,55.44,80.08,45.0,74.58,53.31,73.86,71.27,64.74,61.15,75.43
19500,57.67,80.26,44.8,74.03,53.50,73.79,71.36,64.79,60.75,75.39
19600,57.11,80.26,45.1,74.42,53.85,73.90,71.03,65.06,60.95,75.47
19700,58.22,80.28,44.3,74.38,54.30,73.84,71.16,64.90,61.24,75.67
19800,58.00,80.23,45.3,74.26,53.37,73.89,71.30,65.10,61.20,75.29
19900,56.89,80.24,44.5,74.03,54.28,73.96,71.10,64.98,61.08,75.33
20000,55.56,80.09,44.4,74.16,54.14,73.89,70.89,65.10,61.12,75.52
20100,56.00,80.42,45.6,74.13,53.59,73.86,70.90,65.01,60.86,75.49
20200,55.11,80.21,45.2,74.03,53.76,73.87,70.86,65.36,61.19,75.74
20300,55.11,80.37,45.2,73.96,54.41,73.87,70.94,64.70,60.78,75.72
20400,56.33,80.38,45.1,74.00,54.23,73.91,71.06,65.26,60.73,75.77
20500,57.00,80.10,44.6,73.87,53.94,73.92,70.81,64.66,60.87,75.43
20600,56.33,80.19,44.7,74.26,54.32,73.87,70.99,65.29,60.74,75.53
20700,55.78,80.24,44.6,73.90,53.71,73.83,70.52,65.05,61.22,75.66
20800,57.44,80.30,44.3,74.19,53.63,73.88,71.01,64.72,60.95,75.55
20900,55.67,80.22,45.1,74.06,53.77,73.86,70.90,64.85,60.31,75.89
21000,56.78,80.01,44.6,74.19,54.34,73.86,70.76,64.60,60.46,75.50
21100,56.33,80.00,44.3,74.55,54.48,73.84,71.33,64.68,60.70,75.75
21200,NaN,80.28,44.6,74.16,53.18,73.84,70.96,64.61,61.24,75.74